<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/logo-white.svg" width="150">
        This version of Inkonfig is no longer supported. New version coming soon on inkonfig.tk
      </a>
    </div>

    <div id="inkonfigNavbar" class="navbar-menu">
      <div class="navbar-start" style="display: none;">
        <a class="navbar-item" href="/#wizard">
          Wizard
        </a>

        <a class="navbar-item">
          About
        </a>

        <a class="navbar-item">
          Documentation
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light sans-serif" href="https://hexandcube.tk">
              <strong><span class="font-is-400">Made by</span> Hexandcube</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
